@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: Outfit; */
}

select,
textarea,
input {
  border: 1px solid #c2c2c2;
  outline-color: #c586a5;
  border-radius: 4px;
}
.active {
  background-color: #ffebf5;
  border-color: #c586a5;
}
